*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#whole{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #21D4FD;
background-image: linear-gradient(120deg, #21D4FD 0%, #aa18ee 100%);

}
#navbar{
  z-index:1000;
   position: fixed;
   /* position: sticky; */
   top: 0;
   left: 0;
   /* max-width: 200px; */
  /* width: auto; */
  background-color: rgba(255, 235, 205, 0.854);
  height: 100%;
}
#navi{
  float: left;
  
  /* background-color: blue; */
  /* position: fixed; */
  /* height: 100%; */
}
#component{
  /* margin-left: 100px; */
  float :right;
  width: 100%;
  position: relative;
  margin-left: 200px;
  /* position: fixed; */
  /* background-color: aqua; */
  /* overflow-x: hidden; */
}

main ul{
  padding-left: 50px;
}
p{
  margin-top: 20px;
}
#navbar li{
  border: solid 1px;
}
.main-section header{
  margin-top: 30px;
  font-size: 20px;
}
article{
  margin-left: 20px;
}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  #component{
    overflow-y: scroll;
  }
}